<form (submit)="guardar()" [formGroup]="form" class="form-container">
  <h2 class="form-title">{{ modelo ? 'Editar Módulo' : 'Nuevo Módulo' }}</h2>
  
  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input [formControl]="form.controls.name" matInput 
             placeholder="Ej: Usuarios, Reportes" required>
      <mat-error *ngIf="form.controls.name.hasError('required')">
        El nombre es obligatorio
      </mat-error>
      <mat-error *ngIf="form.controls.name.hasError('minlength')">
        Mínimo 3 caracteres
      </mat-error>
      <mat-error *ngIf="form.controls.name.hasError('maxlength')">
        Máximo 50 caracteres
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea [formControl]="form.controls.description" matInput 
                placeholder="Describa la funcionalidad del módulo"
                rows="3"></textarea>
      <mat-error *ngIf="form.controls.description.hasError('maxlength')">
        Máximo 255 caracteres
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-actions">
    <button type="submit" mat-flat-button color="primary" 
            [disabled]="form.invalid">
      {{ modelo ? 'Actualizar' : 'Guardar' }}
    </button>
    <a mat-stroked-button color="warn" routerLink="/register-module">
      Cancelar
    </a>
  </div>
</form>