<div class="login-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title class="login-title">Iniciar Sesión</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <form (ngSubmit)="login()" [formGroup]="form">
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Nombre de usuario</mat-label>
              <input matInput 
                     formControlName="username"
                     placeholder="Ingresa tu usuario"
                     required>
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="form.controls.username.invalid">
                El usuario es requerido
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="form-field">
            <mat-form-field appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input matInput 
                     formControlName="password"
                     [type]="hidePassword ? 'password' : 'text'"
                     placeholder="Ingresa tu contraseña"
                     required>
              <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="form.controls.password.invalid">
                La contraseña es requerida
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="button-container">
            <button type="submit" 
                    mat-raised-button 
                    color="primary"
                    [disabled]="!form.valid">
              Ingresar
            </button>
          </div>
        </form>
      </mat-card-content>
  
      <!-- <mat-card-actions class="footer-actions">
        <a mat-button color="primary" routerLink="/register">¿No tienes cuenta? Regístrate</a>
        <a mat-button color="accent" routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>
      </mat-card-actions> -->
    </mat-card>
  </div>