<mat-toolbar>
    <span>
        <a mat-button routerLink="register-user">
            <mat-icon>person</mat-icon>User
        </a>

        <a mat-button routerLink="register-person">
            <mat-icon>person</mat-icon>Person
        </a>

        <a mat-button routerLink="register-rol">
            <mat-icon>assignment</mat-icon>Rol
        </a>

        <a mat-button routerLink="register-form">
            <mat-icon>list alt</mat-icon>Form
        </a>

        <a mat-button routerLink="register-permission">
            <mat-icon>key</mat-icon>Permission
        </a>

        <a mat-button routerLink="register-module">
            <mat-icon>dashboard 2</mat-icon>Module
        </a>

        <a mat-button routerLink="register-rolUser">
            <mat-icon>person</mat-icon>RolUser
        </a>

        <a mat-button routerLink="register-formModule">
            <mat-icon>person</mat-icon>FormModule
        </a>

        <a mat-button routerLink="register-rolFormPermission">
            <mat-icon>person</mat-icon>RolFormPermission
        </a>

        <a mat-button routerLink="/" (click)="clearLocalStorage()">
            <mat-icon>person</mat-icon>Cerrar sesion
        </a>
    </span>
</mat-toolbar>